@page "/"

@inject NavigationManager nav

<div class="main-header">
    <div class="logo-header"></div>
    <div class="title-header">
        <div class="title-body">
            Trireksa Papua Cargo
        </div>
    </div>
</div>

<div class="member-button">
    <div class="member-button-arrow">
        <img src="/images/arrow.png" />
        <label>Member</label>
    </div>
</div>

<div class="main-service">
    <div class="service-title">SERVICES</div>
    <div class="main-body-services">
        <div class="service-body">
            <div class="service-icon">
                <img src="/images/plane-icon.png" alt="">
            </div>
            <label>UDARA</label>
        </div>
        <div class="service-body">
            <div class="service-icon">
                <img src="/images/ship-icon.png" alt="">
            </div>
            <label>LAUT</label>
        </div>
        <div class="service-body">
            <div class="service-icon">
                <img src="/images/car-icon.png" alt="">
            </div>
            <label>DARAT</label>
        </div>
        <div class="service-body" @onclick="@(()=>nav.NavigateTo("/tracking"))">
            <div class="service-icon">
                <img src="/images/info-icon.png" alt="">
            </div>
            <label>TRACKING</label>
        </div>
    </div>
</div>

<div class="main-description">
    <div class="description">
        <span>
            Kami Memberikan Layanan Yang Dapat Menajdi Solusi Bagi Anda
            Dan memberikan Pilihan Yang Beragam Baik Lewat
            Laut, Udara Maupun Darat Dengan Tarif Yang Dapat Bersaing.
        </span>
    </div>

</div>

<div class="map-body">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1992.904097580387!2d140.7073189508878!3d-2.5690728366648066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x686c58f5c44905cd%3A0xfb95311024cf961a!2sTrireksa%20Cargo!5e0!3m2!1sid!2sid!4v1605217688485!5m2!1sid!2sid"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>