@inherits LayoutComponentBase


<div class="main">
    @Body

    <div class="footer">
        <div class="row col-md-12">
            <div class="col-md-4">
                <div class="logo-footer"></div>
            </div>
            <div class="col-md-4">
                <div class="footer-item">
                    <div class="footer-item-title">Alamat</div>
                    <div class="footer-item-body">Jln. Kelapa Dua Entrop</div>
                    <div class="footer-item-body">Depan Lapangan Bola Lantamal</div>
                    <div class="footer-item-body">Jayapura-Papua</div>
                </div>
                <div class="footer-item">
                    <div class="footer-item-title">Telepon</div>
                    <div class="footer-item-body">0967-5162234</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-item">
                    <div class="footer-item-title">Handphone</div>
                    <div class="footer-item-body">081344232219</div>
                </div>
                <div class="footer-item">
                    <div class="footer-item-title">Email</div>
                    <div class="footer-item-body">3reksa@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
</div>
